$base-font-size: 16px;

@function to-rem($pixels) {
  @return #{$pixels / $base-font-size}rem;
}
@mixin article-style($color, $border-color:green, $font-size: 1rem){
  color:$color;
  border: to-rem(1px) solid $border-color;
  font-size: $font-size;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: to-rem(25px);
}