$color1: red;
$color2: blue;
$color3: green;
body{
    padding: 20px;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        border: 1px solid $color1;
        h1{
            // text-decoration: 1px underline blue;
            border-bottom: 1px solid $color2;
            padding-bottom: 3px;
            color: $color3;
        }
        section{
            display: flex;
            justify-content: center;
            article{
                display: flex;
                justify-content: center;
                text-align: center;
                border: 1px solid $color3;
                padding: 25px;
                font-size: 17px;
                &:nth-child(even){
                    color: $color1;
                }
                &:nth-child(odd){
                    color: $color2;
                }
            }
        }
    }
}